<div class="container text-center mt-5">
    <h1 class="display-4 fw-bold text-danger mb-4 text-shadow">
        <span class="border-bottom border-3 pb-2">Estatística doação de Sangue</span>
        <i class="fas fa-tint ms-2"></i>
      </h1>
  
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/quantidade-pessoa-estado']">
         Quantidade de pessoa por estado
      </button>
    </div>
  
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/faixa-etaria-imc']">
        Faixa Etaria IMC
      </button>
    </div>
  
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/percentual-por-sexo']">
        Percentual por Sexo
      </button>
    </div>
  
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/idade-media-tipo-sangue']">
        Média de idade por tipo sanguíneo
      </button>
    </div>
  
    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-lg w-100" [routerLink]="['/possiveis-doadores-por-sangue']">
        Quantidade de possíveis doadores por tipo de sangue
      </button>
    </div>
  </div>